/*------------------------
        Google fonts  
-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

:root {
  /* Google Font Variables  */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --footer-font: "Manrope", sans-serif;
  /* Color Variables  */
  --primary-color: #3a3a3a;
  --button-color: #e02c6d;
}
/*------------------------
        Common Styles  
-------------------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
/* Top Banner Style  */
.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 120px;
}
.top-banner img {
  width: 440px;
  height: 414px;
  margin-top: 30px;
}
.top-banner img:hover {
  transform: rotate(360deg);
  transition: transform 2s ease-in-out;
}
.top-banner-title {
  font-size: 52px;
  margin-bottom: -15px;
}
.top-banner-text {
  font-size: 16px;
  font-weight: 600;
  width: 505px;
  height: 60px;
  margin-bottom: 22px;
}
.linked-button {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-color);
  padding: 10px 24px;
  border-radius: 41px;
  transition: 0.5s ease-in;
}
.linked-button:hover {
  background-color: #fff;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.linked-button span {
  margin-left: 8px;
}
/* Investor Company Styles  */
.investor-company {
  padding: 0 120px;
}
.investor-company hr {
  background: linear-gradient(90deg, white, rgb(199, 197, 197), white);
  height: 1px;
  border: none;
}
.company-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.company-logos img {
  margin: 35px 30px;
}
/* Product Collection */
.product-collection {
  margin-top: 100px;
  padding: 0 140px;
}
.collection-header-title {
  font-size: 28px;
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}
.product {
  width: 300px;
  height: 450px;
  padding: 17px 16px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product-image {
  width: 300px;
  height: 256px;
}
.product-title {
  font-size: 28px;
  margin-top: 0;
  color: #18191f;
  margin-bottom: -15px;
  font-weight: 500;
}
.price {
  font-size: 24px;
  font-family: var(--secondary-font);
  color: #000;
}
.ratings {
  margin: -5px 0;
  font-size: 14px;
}
.ratings .fa-star {
  color: #fb8200;
}
.fa-star-half-alt {
  color: #fb8200;
}
.ratings span {
  margin-left: 8px;
}
.content {
  font-size: 14px;
  color: #787885;
}
.see-more {
  float: right;
  text-decoration: none;
  color: var(--button-color);
  font-weight: 700;
}
.see-more span {
  margin-left: 5px;
}
/* NewsLetter Style  */
.newsletter {
  margin-top: 150px;
}
.news-letter .form-container {
  text-align: center;
  margin: 20px 0;
}
.form-container input {
  padding: 20px 5px;
  border: none;
  background-color: #f3f1ff;
  border-bottom: 2px solid var(--button-color);
  font-size: 16px;
  margin: 10px;
  border-radius: 15px;
.form-container h1 {
  font-size: 32px;
}
.form-submit-button {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 16px;
  font-family: var(--primary-font);
  border: 1px solid #fff;
  background-color: var(--button-color);
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  transition: 0.5s ease-in;
}
.form-submit-button:hover {
  background-color: #fff;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
/* Footer Style  */
footer {

  background-color: #0a0826;
  margin-top: 100px;
}
.footer-info {
  text-align: center;
  padding: 20px 0;
}
.footer-info h1 {
  font-size: 24px;
  color: #fff;
}
.footer-info p {
  font-size: 12px;
  color: #fff;
}
.social-icons {
  font-size: 24px;
  margin: 0px 10px;
  color: #fff;
  cursor: pointer;
}
.social-icons:hover {
  color: var(--button-color);
}

/* Media Query Styles  */

@media only screen and (max-width: 578px) {
  .top-banner {
    flex-direction: column;
    padding: 0;
  }
  .top-banner img {
    margin-top: 80px;
    width: 300px;
    height: 300px;
  }
  .top-banner img:hover {
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
  }
  .top-banner-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  .top-banner-text {
    font-size: 14px;
    width: 405px;
    margin-bottom: 22px;
    text-align: center;
  }
  .linked-button {
    margin-left: 130px;
    padding: 5px 12px;
  }
  /* Investor Company Styles  */
  .investor-company {
    padding: 0;
  }
  .company-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .company-logos img {
    margin: 0;
    width: 65px;
    height: 12px;
  }
  /* Product Collection */
  .product-collection {
    margin-top: 50px;
    padding: 0px;
  }
  .collection-header-title {
    font-size: 22px;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
  }
  .product {
    padding: 15px 10px;
    margin-left: 45px;
  }
  .see-more {
    float: none;
    margin-left: 150px;
  }
  .see-more span {
    margin-left: 5px;
  }
  .newsletter {
    margin-top: 50px;
  }
  .form-submit-button {
    padding: 6px 15px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
  .form-container input {
    padding: 10px;
  }
  /* Footer styles  */
  footer {
    margin-top: 30px;
    width: 100%;
  }
  .footer-info {
    text-align: center;
    margin-left: 40px;
    padding: 15px 0;
  }
}
