/*------------------------
        Google fonts  
-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

:root {
  /* Google Font Variables  */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --footer-font: "Manrope", sans-serif;
  /* Color Variables  */
  --primary-color: #3a3a3a;
  --button-color: #e02c6d;
}
/*------------------------
        Common Styles  
-------------------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0 120px;
  font-family: var(--primary-font);
  color: var(--primary-color);
}
/* Top Banner Style  */
.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.top-banner img {
  width: 440px;
  height: 414px;
  margin-top: 30px;
}
.top-banner-title {
  font-size: 52px;
  margin-bottom: -15px;
}
.top-banner-text {
  font-size: 16px;
  font-weight: 600;
  width: 505px;
  height: 60px;
  margin-bottom: 22px;
}
.linked-button {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-color);
  padding: 10px 24px;
  border-radius: 41px;
}
.linked-button span {
  margin-left: 8px;
}
/* Investor Company Styles  */
.investor-company hr {
  background: linear-gradient(45deg,white,rgb(199, 197, 197),white);
  height: 1px;
  border: none;
}
.company-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logos img {
  margin: 35px 30px;
}
